{% extends 'base.html' %}

{% block content %}
<p>{{ actors|length }} Actors</p>
<ul class="actor-list">
    {% for actor in actors %}
    <li>{{ actor.name }} - {{ actor.country }}
        <span class="float-right">
        {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('edit2', actor_id=actor.actor_id) }}">Edit</a>
        {% endif %}
            <a class="imdb" href="https://www.imdb.com/find?q={{actor.name }}" target="_blank" title="Find this actor on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>
<p>{{ actors|length }} Actors</p>
<!-- 在模板中可以直接使用 current_user 变量 -->
{% if current_user.is_authenticated %}
<form method="post">
    ActorID <input type="text" name="actor_id" autocomplete="off" required>
    Name <input type="text" name="name" autocomplete="off" required>
    Gender <input type="text" name="gender" autocomplete="off" required>
    Country <input type="text" name="country" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>
{% endif %}
<img alt="Dog" class="dog" src="{{ url_for('static', filename='images/dog.gif') }}" title="to~to~ro~">
{% endblock %}