{% extends 'base.html' %}

{% block content %}
<h3>Predict for Box</h3>
<p>Please add your information in these blocks</p>
<p>"是"请填入1，"否"请填入0，其他请填入对应数字</p>
{% if current_user.is_authenticated %}
<form target="_blank" method="get" action="{{ url_for('result') }}">
    <div class="container">
        时长 <input type="text" name="runtime" class="info" autocomplete="off" required><br>
        类型数 <input type="text" name="num_genres" class="info" autocomplete="off" required><br>
        戏剧 <input type="text" name="genre_Drama" class="info" autocomplete="off" required><br>
        喜剧 <input type="text" name="genre_Comedy" class="info" autocomplete="off" required><br>
        惊悚 <input type="text" name="genre_Thriller" class="info" autocomplete="off" required><br>
        动作 <input type="text" name="genre_Action" class="info" autocomplete="off" required><br>
        爱情 <input type="text" name="genre_Romance" class="info" autocomplete="off" required><br>
        犯罪 <input type="text" name="genre_Crime" class="info" autocomplete="off" required><br>
        冒险 <input type="text" name="genre_Adventure" class="info" autocomplete="off" required><br>
        恐怖 <input type="text" name="genre_Horror" class="info" autocomplete="off" required><br>
        纪录 <input type="text" name="genre_Science_Fiction" class="info" autocomplete="off" required><br>
        语言数 <input type="text" name="num_languages" class="info" autocomplete="off" required><br>
        英语 <input type="text" name="language_English" class="info" autocomplete="off" required><br>
        法语 <input type="text" name="language_French" class="info" autocomplete="off" required><br>
        男主演数 <input type="text" name="gender0" class="info" autocomplete="off" required><br>
        女主演数 <input type="text" name="gender1" class="info" autocomplete="off" required><br>
        预算 <input type="text" name="log_budget" class="info" autocomplete="off" required><br>
        是否有主页 <input type="text" name="homepage" class="info" autocomplete="off" required><br>
        发布年份 <input type="text" name="release_date_year" class="info" autocomplete="off" required><br>
        发布季度 <input type="text" name="quarter" class="info" autocomplete="off" required><br>
        标题字数 <input type="text" name="words_title" class="info" autocomplete="off" required><br>
    <input class="up" type="submit" value="提交">
    </div>
</form>
{% endif %}
<p>Make sure your information is all right</p>
<button class="goback" onclick="window.location.href = '{{ url_for('index') }}'">Back to Movies</button>
<img alt="Dog" class="dog" src="{{ url_for('static', filename='images/dog.gif') }}" title="to~to~ro~">
{% endblock %}